/* 폰트 적용 */
@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

header {
	font-family: 'GangwonEduPowerExtraBoldA', sans;
}

html > body {
	font-family: 'S-CoreDream-3Light', sans;
}

/* 커스텀 */
.table-box-type-1 thead th, .table-box-type-1 td {
	border: 1px solid black;
	padding: 10px;
	text-align: center;
}

.btn-text-link:hover {
	text-decoration: underline;
	color: deepskyblue;
}

header > div > ul > li > ul {
	display: none;
	position: absolute;
	background-color: white;
}

header > div > ul > li:hover > ul {
	display: block;
}