/* 폰트 적용 */
@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.dovemayo_gothic * {
	font-family: 'Dovemayo_gothic', sans;
}

html > body {
	font-family: 'Dovemayo_gothic', sans;
}

/* 커스텀 */
.table-box-type-1 thead th, .table-box-type-1 td {
	border: 1px solid black;
	padding: 10px;
	text-align: center;
}

.btn-text-link:hover {
	text-decoration: underline;
	color: deepskyblue;
}

header > div > ul > li > ul {
	display: none;
	position: absolute;
	background-color: white;
}

header > div > ul > li:hover > ul {
	display: block;
}